*{box-sizing:border-box;}

/* body{
    
    background:url('#');
    background-size:cover;
} */
.container{
    max-width: 400px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    border-radius: 10px;
}

.container h2{
    font-size: 2em;
    text-align: center;
}

button{
    padding: 10px;
    width:49%;
    box-sizing: border-box;
    border: none;
    font-size:1.3em;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 3px;
}

button a{
    text-decoration: none;
    color:#fff;
   

}

button:nth-child(1){
    background:blue;

}

button:nth-child(2){
    background: lightskyblue;
}


button:hover{
    background:rgba(0,0,0,0.6);
}

.fa{
    font-size: 1.3em;
    font-weight: bold;
}

form{
    margin-top: 30px;
}

input[type=text],input[type=password],input[type=submit]{
    width:100%;
    padding:10px; 
    margin-bottom: 15px;
    font-size: 17px;
    border-radius: 5px;
    outline:none;
    border:none;
    border: 2px solid gray;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input[type=submit]{
    background: blue;
    border:none;
    color:#fff;
    font-size:20px;
    font-weight: bold;
    margin-top:20px;
    padding:15px;
    cursor: pointer;
}

input[type=submit]:hover{
    background:lightblue;
}

p{
    text-align: center;
}

p a{
    text-decoration: none;
    font-weight: bold;

}

.btn{
    width: 350px;
}


html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }



  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.h{
    margin-right: 3px;
}



