

<div class="updproj">
   <h1>Update Projects</h1>
<form #pro="ngForm" (ngSubmit)="(pro)" >
    <div class="form-group">
        <label for="pid">Project-ID</label>
        <input id="pid" [(ngModel)]='pid' type="text" class="form-control" name="pid" >
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" [(ngModel)]='title'  type="text" class="form-control" name="title" >
    </div>
    <div class="form-group">
        <label for="cat">Category</label>
        <input id="cat" [(ngModel)]='cat' type="text" class="form-control" name="cat" >
    </div>
    <div class="form-group">
        <label for="team">Team</label>
        <input [(ngModel)]='team' type="text" class="form-control" id="team" name="team" >
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input [(ngModel)]='desc' type="text" class="form-control" id="desc" name="desc">
    </div> 
    <div class="form-group">
        <label for="tech">Technology</label>
        <input [(ngModel)]='tech' type="text" class="form-control" id="tech" name="tech">
    </div>

    <button type="submit" class="btn btn-dark" (click)="onUpdateProject(pro)" >Update </button>
    <!-- <button type="submit" class="btn btn-dark" (click)="onDeleteProject(pro)" >Delete </button> -->
</form>
</div>
   